/* 로고 최상위 스타일 */
#logo {
  width : 90%;
}
/* 레이블 최상위 스타일 */
.lbl {
  margin-top        : 1%;
  padding-right     : 3%;
  background-repeat : no-repeat;
  background-size   : contain;
  color             : transparent;
}
/* 페이지 상단에 배치되는 버튼들 */
.lnk-nav {
  position  : absolute;
  top       : 1%;
  color     : #1D8695;
  font-size : 2em;
}
/* 기능 버튼들 공통 적용 사항. */
.btn-func, .btn-func:hover {
  padding         : 0;
  background      : no-repeat;
  background-size : 100% 100%;
  color           : transparent;
  border          : none;
  width           : 14em;
  height          : 4em
}
/* 구버전 모바일에서는 버튼 내부의 글씨가 보임. */
.btn-func:focus {
  outline : none;
  color   : transparent;
}